

.recipe-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: blue; */
}
.recipe-form h1{
    font-family: 'circular';
    color: #000;
    margin: 10px 0;
}

.recipe-form input {
    width: 50%;
    /* background: #cccdd6; */
    border: 1px #b5adad solid;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    display: block;
    font-weight: bold;
    margin: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: bold;
    font-family: monospace;
    opacity: 1; /* Firefox */
  }

.recipe-form  button{
    font-family: 'Rammetto One';
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-bottom:20px ;
    background-color: #0d48b7;
    width: 20%;
    height: 50px;
}

.toolbar-editor{
    width: 50%;
    margin-bottom: 30px;
}

.bgk{
    /* background: #cccdd6; */
    border-radius: 10px;
    font-weight: bold;
}