.main-div-signup {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .signup-div {
    border-radius: 10px;
    margin: 20px;
    background-image: radial-gradient(100% 100% at 100% 0, #cf0fe6 0, #22a1d4 100%);


    width: 380px;
    height: 450px;
  }
  
  .signup-div h1 {
    color: #fff;
    margin-top: 20px;
  }
  
  .signup-div input {
    width: 80%;
    /* margin-top: 20px; */
    height: 50px;
    padding: 0 0 0 10px;
    /* background-color: black; */
    display: block;
    margin: 40px auto;
    border: 1px solid #c2c0ca;
    border-radius: 10px;
  }
  .signup-div button{
      width: 80%;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      color: #fff;
      font-family: 'Rammetto One', cursive;
      font-size: 1rem;
      box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  
      background-image: radial-gradient(100% 100% at 100% 0, #0fe6d2 0, #2622d4 100%);
      border-radius: 10px;
      height: 50px;
  
  }
  
  .signup-div p{
      font-size: 0.7rem;
      margin: 15px;
      color: #fff;
  }
  .signup-div p a{
      font-size: 0.7rem;
      margin: 5px;
      /* color: #fff;s */
      color: #f5a405;
  
      /* animation: effect 2s linear infinite; */
  }
  
   
  /* @keyframes effect {
      0% {
          background: linear-gradient(
              #020100, #ed0e0e);
          -webkit-background-clip: text;
      }
  
      100% {
          background: linear-gradient(
              #eb0808, #000000);
          -webkit-background-clip: text;
      }
  } */